[submodule "extern/Catch2"]
	path = extern/Catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "extern/eigen-git-mirror"]
	path = extern/eigen-git-mirror
	url = https://github.com/eigenteam/eigen-git-mirror.git
